.card {
    padding: 16px;
    text-align: center;
    transition: border 0.3s ease;
    border: 1px green solid;
    box-shadow: none !important;
    border: 1px solid #fff !important;

  }
  
  .card:hover {
    border: 2px solid #ececec !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the values for the hover effect */
    border-radius: 10px;
      
  }
  
  .icon-container {
    font-size: 40px; /* Adjust the icon size as needed */
    margin-bottom: 16px;
  }
  