.marginAround{
  width: 90%;
  margin: auto;
}
/* body{
  background: #0F041C;
} */
.borderRadius{
  
  border-radius: 20px 0px 20px 20px;
}

.customButton {
  background-color: #3D4083;
  color: #fff;
  padding: 10px 20px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  margin: 20px auto;
  /* display: block; */
}
a{
  color: #555 !important;
  text-decoration: none !important;
}
a:hover{
  color: #9A3C41 !important;
}
.red{
  color:#9A3C41
}
.blue{
  color: #3D4083;
}
.orange{
  color:#FF5E14
}
.ptb{
  padding-top: 20px;
  padding-bottom: 20px;
}
.subh5{
  font-weight: bold;
}
.m30{
  margin: 30px
}
.subHeadh5{
font-size: 24px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
.subHeadh4{
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

}
p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;

}