
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;1,400&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F041C;
  /* margin: 0;
  height: 100vh;
  background: linear-gradient(45deg, #3C3E82 25%, #FFFFFF 25%, #FFFFFF 75%, #3C3E82 75%);
  background-size: 10px 10px; */
  /* margin: 0;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #3C3E82,
    #3C3E82 10px,
    #FFFFFF 10px,
    #FFFFFF 20px
  ); */
  /* margin: 0;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #3C3E82,
    #3C3E82 30px,
    #FFFFFF 30px,
    #FFFFFF 60px
  ); */
  /* margin: 0;
  height: 100vh;
  background: radial-gradient(circle, #3C3E82 10%, #FFFFFF 10%);
  background-size: 50px 50px; */
  /* margin: 0;
  height: 100vh;
  background: repeating-linear-gradient(
    -45deg,
    #3C3E82,
    #3C3E82 10px,
    #FFFFFF 10px,
    #FFFFFF 20px
  ); */
}
/* text{
  font
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;1,400&display=swap');

